<a href="https://colab.research.google.com/github/AlessandroTaglieri/Project_Bioinformatics/blob/main/First%20project/BI_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [55]:
#import libraries
import pandas as pd
import os
import numpy as np
import collections

In [5]:
project_folder ='/content/drive/MyDrive/BioinfoProject/Project_Bioinformatics/First_project/'

In [6]:
dataset_folder = os.path.join(project_folder,'dataset/')

# 1.1

In [8]:
#download curated gene-diesase associtaions from https://www.disgenet.org/downloads and covnert tsv in csv

data = pd.read_csv(dataset_folder+ '1.1/curated_gene_disease_associations.csv')
#get only data for intereted gene id C0043094
gene_disease = data.loc[data['diseaseId'] == 'C0043094']

#get list og gene symbols
list_geneSymbol = gene_disease['geneSymbol']


#download hgnc dataset from https://www.genenames.org/download/statistics-and-files/
hgnc = pd.read_csv(dataset_folder+ "1.1/hgnc_complete_set.txt", sep='\t', dtype = 'unicode')

#get data (symbol,name,entrez_id,unirpot_idasdn status) for only genes stored in previous list
genes_diseases_hgnc = hgnc.loc[hgnc['symbol'].isin(list_geneSymbol)][['symbol','name','entrez_id','uniprot_ids','status']]

#get only approved data
genes_diseases_hgnc_app = genes_diseases_hgnc.loc[genes_diseases_hgnc['status']=='Approved']


#get list ofuniprotidthat we'll useto find gene descriptionin Uniprot
list_uniprotID = genes_diseases_hgnc_app['uniprot_ids']

#write in a file alll uniprot ids. This is necessary because we'll download only necessary description for these genes from uniprot 
with open(dataset_folder+ '1.1/uniprot_ids.txt', 'w') as f:
    for item in list_uniprotID:
        f.write("%s\n" % item)
    f.close()

#download data containing description for every gene. We used txt file for download them
gene_description = pd.read_csv(dataset_folder+ '1.1/uniprot-yourlist%3AM20201123A94466D2655679D1FD8953E075198DA817123DO.csv')

#rename column for the function of the gene
gene_description=gene_description.rename(columns={"yourlist:M20201123A94466D2655679D1FD8953E075198DA817123DO":"uniprot_ids"})

#merge two dataset. One containing all info about gene and the second one conatining description about their functions
final_genes_deseas = pd.merge(gene_description, genes_diseases_hgnc_app, on='uniprot_ids')
#rename column
final_genes_deseas=final_genes_deseas.rename(columns={"Function [CC]":"function"})
#get only first part of gene description
final_genes_deseas['Description']= final_genes_deseas.function.str[10:150]
#delete not necessary columns
final_genes_deseas = final_genes_deseas.drop(['function','Entry','status'], axis = 1) 
final_genes_deseas = final_genes_deseas[['symbol','uniprot_ids','name','entrez_id','Description']]

In [80]:
final_genes_deseas.shape

(102, 5)

In [10]:
#fix column names and save xlsx file
final_genes_deseas.rename(columns={"symbol":"Gene symbol","uniprot_ids":"Uniprot AC","name":'Protein name','entrez_id':"Entrez Gene ID"})
final_genes_deseas.to_excel(dataset_folder+ '1.1/1.1-gene_deseas_associations.xlsx')
final_genes_deseas.to_csv(dataset_folder+ '1.1/1.1-gene_deseas_associations.csv')

In [11]:
final_genes_deseas

     symbol  ...                                        Description
0     ABCG1  ...  Catalyzes the efflux of phospholipids such as ...
1     ACADM  ...  Acyl-CoA dehydrogenase specific for acyl chain...
2       ACE  ...  Converts angiotensin I to angiotensin II by re...
3    ADIPOQ  ...  Important adipokine involved in the control of...
4       AHR  ...  Ligand-activated transcriptional activator. Bi...
..      ...  ...                                                ...
97    TSEN2  ...  Constitutes one of the two catalytic subunit o...
98      VIM  ...  Vimentins are class-III intermediate filaments...
99   VPS13D  ...  Functions in promoting mitochondrial clearance...
100  ZDHHC2  ...  Palmitoyltransferase that catalyzes the additi...
101  ZWILCH  ...  Essential component of the mitotic checkpoint,...

[102 rows x 5 columns]

# 1.2

# Get biogrid data

In [34]:
#read biogrid dataset
biogrid_datafile = dataset_folder+'1.2/BIOGRID-ORGANISM-Homo_sapiens-4.2.191.tab3.txt'
biogrid_data = pd.read_csv(biogrid_datafile,sep='\t')
#biogrid_data.info()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [128]:
biogrid_data.head(5)

   #BioGRID Interaction ID  ... Organism Name Interactor B
0                      103  ...               Homo sapiens
1                      117  ...               Homo sapiens
2                      183  ...               Homo sapiens
3                      278  ...               Homo sapiens
4                      418  ...               Homo sapiens

[5 rows x 37 columns]

In [31]:
gene_A_list = biogrid_data.iloc[:,1].values
gene_B_list = biogrid_data.iloc[:,2].values
A_B_list = np.append(gene_A_list,gene_B_list)
A_set = set(gene_A_list)
len(A_set)

20765

In [32]:
B_set =  set(gene_B_list)
len(B_set)

23834

In [33]:
A_B_set = set(A_B_list)
len(A_B_set)

29449

#Get all nodes involved in interactions 
#removing non numeric nodes

---

In [115]:
genes_biogrid = np.array([x for x in A_B_set if str.isdigit(str(x))])
genes_biogrid

array(['1', '2', '131076', ..., '7763', '3190', '140908'], dtype='<U21')

#Get all interactions 
#removing invalid nodes with invalid ID

In [133]:
interactions = biogrid_data.iloc[:,1:3].values
#interactions =np.array([[a,b] for a,b in interactions if(str.isdigit(str(a)) & str.isdigit(str(b)))])
interactions =np.array([[a,b] for a,b in interactions ])
interactions.shape

(697802, 2)

# Seed gene list

In [134]:
seed_genes_ids  =  final_genes_deseas['entrez_id'].values
seed_genes_ids

array(['9619', '34', '1636', '9370', '196', '1646', '302', '308', '323',
       '351', '23365', '586', '801', '857', '284119', '948', '25932',
       '1268', '26958', '1509', '1565', '8701', '1813', '1783', '2146',
       '285172', '2199', '23014', '9637', '2246', '55277', '11167',
       '79068', '9518', '2688', '51738', '2784', '2888', '2934', '84064',
       '3358', '3620', '3488', '51141', '51194', '8826', '3778', '3779',
       '9215', '3929', '3952', '3953', '9926', '4134', '22919', '4137',
       '4199', '4232', '284207', '4313', '4321', '23164', '4430', '4651',
       '55706', '4715', '140609', '4811', '4883', '114882', '5020',
       '23022', '51449', '5290', '5443', '5467', '23683', '5631', '29108',
       '10266', '5986', '6158', '6202', '6234', '6259', '51091', '91404',
       '26040', '26037', '10569', '8470', '6678', '6711', '57620', '412',
       '7124', '7171', '80746', '7431', '55187', '51201', '55055'],
      dtype=object)

In [148]:
print('10266' in seed_genes_ids)

True

#Now we build a dictionary of all interactions

In [135]:
all_interactions_dict = collections.defaultdict(set)
for a,b in interactions:
  all_interactions_dict[a].add(b)
  all_interactions_dict[b].add(a)

# Interactions including seed genes

In [136]:
seed_interactions_dict = collections.defaultdict(set)
for key in seed_genes_ids:
  seed_interactions_dict[key] = all_interactions_dict[key]

# Protein interacting with seed genes

In [137]:
non_seed_genes_ids = set()
# from seed genes interactions dictionary, we retrieve all genes interacting with them
# performing union of all set 
for key in seed_interactions_dict.keys():
  non_seed_genes_ids = non_seed_genes_ids.union(seed_interactions_dict[key]) 

#We remove all seed genes included in the set
non_seed_genes_ids = np.array([x for x in non_seed_genes_ids if x not in seed_genes_ids])

# There we get only non seed gene which interacted with at least one seed gene
len(non_seed_genes_ids)

6140

#Then to the seed genes interactions dictionary we also add interactions of no seed genes involved with at least one seed gene

In [138]:
non_seed_interactions_dict = collections.defaultdict(set)

#looping on non seed gend ids 
for key in non_seed_genes_ids:
  # we retrieve interactions from all interactions dictionary 
  related_genes = all_interactions_dict[key]

  related_non_seed_genes = [x for x in related_genes if x not in seed_genes_ids]

  #we add it tho the seed genes iteractions dictionary 
  non_seed_interactions_dict[key] = set(related_non_seed_genes)

In [107]:
#non_seed_genes_interactions_dict

#Lets put all this in a data frame

In [139]:
values = []
for a ,b in seed_interactions_dict.items():
  values.append([a,'T',','.join(b)])

for a ,b in non_seed_interactions_dict.items():
  values.append([a,'F',','.join(b)])


df = pd.DataFrame(values,columns=['gene_id','seed_gene_involved','interactions_seeds_ids'])

In [140]:
df.sample(10)

     gene_id  ...                             interactions_seeds_ids
5530   23554  ...  130827,8760,91869,4259,10430,9482,220441,61321...
3830   92346  ...    55128,5601,8994,100130827,5684,84080,9533,25793
4878   23019  ...  80315,4076,7916,232791,23609,11097,10010,20479...
437    69908  ...                                       7046,4089,90
4066    6134  ...  11113,213539,51642,9031,4931,2099,6625,51154,6...
1024   26298  ...           2547,448834,2487,1999,3191,1474,7520,383
3158   51264  ...  124995,3396,1431,92399,53970,54534,19345,51204...
1701    9984  ...  11113,51637,5925,22950,84217,25929,8975,8683,9...
6180  254295  ...                                        92906,25913
4784  348487  ...  55885,4609,7447,4692,2896,8379,2130,9814,51440...

[10 rows x 3 columns]

#1.2 b - Store data in csv format

In [141]:
filename = dataset_folder + '1.2/interactions.csv'
df.to_csv(filename, sep='\t',index=False)

#1.2 c - Summary

In [142]:
n_seed_disgenet = len(set(seed_genes_ids))
n_seed_biogrid = len(set([gene for gene in genes_biogrid if gene in seed_genes_ids]))
n_interacting_genes = len(set(genes_biogrid))
n_interactions = biogrid_data.shape[0]

In [124]:
table = [[n_seed_disgenet,n_seed_biogrid,n_interacting_genes,n_interactions]]
summary = pd.DataFrame(table, columns=['N° seed disgenet','N° seed biogrid','Interacting genes','Interactions'])
summary

   N° seed disgenet  N° seed biogrid  Interacting genes  Interactions
0               102              101              26221        697802

#1.3 Arrange interaction data

In [156]:
genes_interactions = biogrid_data.values
indexes = []
i =0
for row in genes_interactions:
  check = str(row[1]) in seed_genes_ids
  check_2 = str(row[2]) in seed_genes_ids
  if check_2  and check:
    indexes.append(i)
    i= i+1

#1.2 a - seed genes interactome: interactions that involve seed genes only

In [160]:
only_seed_interactions = biogrid_data.iloc[indexes,[7,8,23,26]]
only_seed_interactions

    Official Symbol Interactor A  ... SWISS-PROT Accessions Interactor B
0                         MAP2K4  ...                             Q14315
1                           MYPN  ...                             P35609
2                          ACVR1  ...                             P49354
3                          GATA2  ...                             P29590
4                           RPA2  ...                             P40763
..                           ...  ...                                ...
148                         BYSL  ...                             P05787
149                        KRT18  ...                             P22681
150                        KRT18  ...                             O75190
151                         LMNA  ...                             P20700
152                         LMNA  ...                             P36956

[153 rows x 4 columns]

#1.2 All proteins interacting with at least one seed gene